<!DOCTYPE html>
<html lang="zn-CN">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ulab数据管理平台</title>
    <link rel="stylesheet" href="${contextPath}/static/admin/css/bootstrap.min-3.3.7-blue.css">
    <link rel="stylesheet" href="${contextPath}/static/admin/css/style.css">
    <style>
        input[name=step] {
            margin-left: .5rem;
        }
    </style>
</head>
<body id="order_form">
<nav class="navbar navbar-default"></nav>
<div class="container" id="orderForm">
    <div class="row">
        <div class="col-md-12">
            <form @submit.prevent="submit()"> <!--.prevent阻止默认跳转-->
                <fieldset>
                    <legend>实验室订单新增/编辑:</legend>
                    <div class="col-md-6 col-md-offset-3">
                        <input id="orderId" name="orderId" v-model="orderItem.id" type="hidden">
                        <div class="form-group"><strong class="required">*</strong>
                            <label for="testNumber">实验编号</label>
                            <input class="form-control" id="testNumber" name="testNumber" v-model="orderItem.testNumber"
                                   placeholder="实验编号" required oninvalid="setCustomValidity('请输入订单编号')"
                                   oninput="setCustomValidity('')">
                        </div>
                        <div class="form-group"><strong class="required">*</strong>
                            <label>下单时间</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input class="form-control" required type="date" placeholder="下单日期"
                                           oninvalid="setCustomValidity('请输入订单创建日期')" oninput="setCustomValidity('')"
                                           v-model="orderItem.creationDate">
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control" required type="time" placeholder="下单时间"
                                           oninvalid="setCustomValidity('请输入订单创建时间')" oninput="setCustomValidity('')"
                                           v-model="orderItem.creationTime">
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             v-for="(item,index) in ['① 委托下单','② 样品接收','③ 任务分配','④ 测试执行','⑤ 报告审核','⑥ 批准报告','⑦ 结果评价']">
                            <label>{{item}}</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           v-model="orderItem['step'+(index+1)]['name']"
                                           placeholder="姓名">
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           v-model="orderItem['step'+(index+1)]['tel']"
                                           placeholder="电话">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>第几步</label><br>
                            <label v-for="(item,index) in new Array(7)">
                                <input type="radio" name="step" :value="index+1" required="required"
                                       v-model="orderItem.step" oninput="setCustomValidity('')">第{{index+1}}步
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-success center-block" id="submit" type="submit" value="提交">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    var contextPath = '${contextPath!}';
</script>
<script src="${contextPath}/static/admin/js/jquery-2.2.4.js"></script>
<script src="${contextPath}/static/admin/js/jquery.validate-1.15.1.js"></script>
<script src="${contextPath}/static/admin/js/bootstrap.js"></script>
<script src="${contextPath}/static/assets/js/vue-2.6.10.js"></script>
<script>
    let orderForm = new Vue({
        el: '#orderForm',
        data: {
            orderItem: {
                id: "",
                testNumber: "",
                creationDate: "",
                creationTime: "",
                step: "",
                step1: {name: "", tel: ""},
                step2: {name: "", tel: ""},
                step3: {name: "", tel: ""},
                step4: {name: "", tel: ""},
                step5: {name: "", tel: ""},
                step6: {name: "", tel: ""},
                step7: {name: "", tel: ""},
            }
        },
        created() {
            if (localStorage.getItem('updateItem')) {
                this.orderItem = JSON.parse(localStorage.getItem('updateItem'));
            }

        },
        mounted() {
            /*响应菜单点击后隐藏*/
            $(".navbar-collapse a").click(function () {
                $(".navbar-collapse").collapse("hide");
            });

        },
        methods: {
            submit() {
                if (location.search.includes('?id=')) {
                    // 更新接口
                    $.post(contextPath + '/admin/UpdateOrderForm',
                        this.orderItem,
                        data => {
                            if (data.result) {
                                location.href = contextPath + '/admin/orderList'
                            }
                        })
                } else {
                    // 新增接口
                    $.post(contextPath + '/admin/AddOrderForm',
                        this.orderItem,
                        data => {
                            if (data.result) {
                                location.href = contextPath + '/admin/orderList'
                            }
                        }
                    );
                }
            },
        }
    })
</script>
<script src="${contextPath}/static/admin/js/common.js"></script>

</body>
</html>