<!DOCTYPE html>
<html lang="zn-CN">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ulab数据管理平台</title>
    <link rel="stylesheet" href="${contextPath}/static/admin/css/bootstrap.min-3.3.7-blue.css">
    <link rel="stylesheet" href="${contextPath}/static/admin/css/style.css">
    <style>
        .table td.opt {
            text-align: left;
        }

        td.opt .btn {
            padding-top: 0;
            padding-bottom: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default"></nav>
<div class="container-fluid" id="orderList">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>订单列表</h2>
            </div>
            <div class="search">
                <div class="panel panel-primary">
                    <div class="panel-heading ">
                        <h3 class="panel-title">查询条件：</h3>
                    </div>
                    <div class="panel-body">
                        <form @submit.prevent="search" class="form-inline">
                            <div class="form-group">
                                <label for="keyword">请输入关键字：</label>
                                <input class="form-control input-sm" id="keyword" autocomplete="false" placeholder="" v-model="keywords">
                            </div>
                            <button type="button" class="btn btn-success btn-sm pull-right" @click="addItem">新增
                            </button>
                            <button style="margin-right:2em;" type="submit" class="btn btn-primary btn-sm pull-right"
                                   >搜索
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class=" table-responsive">
                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>实验编号</th>
                        <th>下单时间</th>
                        <th>第几步</th>
                        <th>委托下单</th>
                        <th>样品接收</th>
                        <th>任务分配</th>
                        <th>测试执行</th>
                        <th>报告审核</th>
                        <th>批准报告</th>
                        <th>结果评价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in curItemList">
                        <td>{{item.id}}</td>
                        <td>{{item.test_number}}</td>
                        <td>{{item.creation_date}}<br>{{item.creation_time}}</td>
                        <td>{{item.step}}</td>
                        <td v-for="(temp,index) in new Array(7)" style="text-align: left">
                            <span>姓名：{{item['step'+(index+1)+'_name']}}</span><br>
                            <span>电话：{{item['step'+(index+1)+'_tel']}}</span>
                        </td>
                        <td class="opt">
                            <button class="btn btn-primary btn-sm btn-edit" @click="updateItem(item)">编辑</button>
                            <br>
                            <button class="btn btn-danger btn-sm btn-del" @click="delItem(item.id)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination pull-right pagination-ul">
                    <li><a href="javascript:void(0)" @click="changePage()" aria-label="Previous"><span
                        aria-hidden="true">&laquo;</span> </a></li>
                    <li><a href="javascript:void(0)" style="pointer-events: none">{{pageCur}}/{{pageTotal}}</a></li>
                    <li><a href="javascript:void(0)" @click="changePage('next')" aria-label="Next"><span
                        aria-hidden="true">&raquo;</span> </a></li>
                </ul>
                <div class="pagination pull-right result">
                    查询结果：共
                    <output>{{filterItemList.length}}</output>
                    条
                </div>
            </nav>
        </div>
    </div>
</div>
<div id="bottom"></div>

<script src="${contextPath}/static/admin/js/jquery-2.2.4.js"></script>
<script src="${contextPath}/static/admin/js/bootstrap.js"></script>
<script src="${contextPath}/static/assets/js/vue-2.6.10.js"></script>
<script>
    let contextPath = '${contextPath!}';
    let VueOrderList = new Vue({
        el: '#orderList',
        data: {
            orderList: [],
            orderListHeader: ['totalNum', 'underTest', 'toBeDistributed', 'testing', 'completed', 'completion'],
            curItemList: [],
            filterItemList: [],
            pageCur: 1,
            itemPerPage: 5,
            pageTotal: 0,
            keywords:'',

        },
        beforeMount() {
            this.getOrderList();
        },
        methods: {
            getOrderList() {
                // 查询接口
                $.get(contextPath + "/admin/orderListData", data => {
                    this.filterItemList = this.orderList = data;
                    this.pagination();
                })
            },
            pagination() {
                let isInt = this.orderList.length % this.itemPerPage === 0;
                this.pageTotal = (this.filterItemList.length / this.itemPerPage + (isInt ? 0 : 1)) | 0;
                this.curItemList = this.filterItemList.slice((this.pageCur - 1) * this.itemPerPage, (this.pageCur) * this.itemPerPage)
            },
            changePage(next) {
                if (next) {
                    if (this.pageCur === this.pageTotal) return false;
                    this.pageCur++
                } else {
                    if (this.pageCur === 1) return false;
                    this.pageCur--
                }
                this.pagination()
            },
            search(){
                this.filterItemList = this.orderList.filter(item=>{
                    return Object.keys(item).some(k=>{
                        return item[k]&&(item[k]+'').includes(this.keywords)
                    })
                });
                this.pagination();
            },
            delItem(id){
                if(!confirm('确认删除？')){return}
                // 模拟删除，生产中请屏蔽
                this.orderList.splice(this.orderList.findIndex(item=>item.id===id),1);
                this.pagination();
                 // 删除接口
                $.get(contextPath+'/admin/delOrderInfo?id='+id, data => {
                    if(data.result){
                        location.href='';
                    }
                })
            },
            addItem(){
                localStorage.setItem('updateItem','');
                location.href=contextPath+'/admin/orderForm';
            },
            updateItem(item){
                localStorage.setItem('updateItem',JSON.stringify(item));
                location.href=contextPath+'/admin/orderForm?id='+item.id;
            }
        }
    });
</script>
<script src="${contextPath}/static/admin/js/common.js"></script>
</body>
</html>
