<!DOCTYPE html>
<html lang="zn-CN">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ulab数据管理平台</title>
    <link rel="stylesheet" href="${contextPath}/static/admin/css/bootstrap.min-3.3.7-blue.css">
    <link rel="stylesheet" href="${contextPath}/static/admin/css/style.css">
    <style>
        fieldset {
            margin-bottom: 1rem;
        }
        legend{
            font-weight: bold;
        }
        .form-control {
            font-weight: normal;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default"></nav>

<div class="container" id="otherDataForm">
    <form @submit.prevent="submit()"> <!--.prevent阻止默认跳转-->
        <fieldset>
            <legend>页面标题:</legend>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="center-block">中文标题(大屏)<input class="form-control"
                                                           v-model="otherDataForm.title.t_name"></label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="center-block">英文标题(大屏)<input class="form-control"
                                                           v-model="otherDataForm.title.t_en_name"></label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="center-block">中文标题(大厅)<input class="form-control"
                                                           v-model="otherDataForm.title.t_zh"></label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="center-block">英文标题(大厅)<input class="form-control"
                                                           v-model="otherDataForm.title.t_en"></label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>全球实验室分布:</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>大洲数量<input class="form-control" v-model="otherDataForm.distribution.d_dazhou"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>国家数量<input class="form-control" v-model="otherDataForm.distribution.d_guojia"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>研发中心<input class="form-control" v-model="otherDataForm.distribution.d_zhongxin"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>工业园区<input class="form-control" v-model="otherDataForm.distribution.d_yuanqu"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>工厂<input class="form-control" v-model="otherDataForm.distribution.d_gongchang"></label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>全球实验室互联:</legend>
            <div class="row">
                <div class="col-md-8">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>实验室数</th>
                            <th>在线互联数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>海尔全球：</td>
                            <td><input class="form-control" v-model="otherDataForm.link.l_quanqiu_lab"></td>
                            <td><input class="form-control" v-model="otherDataForm.link.l_quanqiu_link"></td>
                        </tr>
                        <tr>
                            <td>研发中心：
                            <td><input class="form-control" v-model="otherDataForm.link.l_yanfa_lab"></td>
                            <td><input class="form-control" v-model="otherDataForm.link.l_yanfa_link"></td>
                        </tr>
                        <tr>
                            <td>检测中心：
                            <td><input class="form-control" v-model="otherDataForm.link.l_jiance_lab"></td>
                            <td><input class="form-control" v-model="otherDataForm.link.l_jiance_link"></td>
                        </tr>
                        <tr>
                            <td>制造工厂：
                            <td><input class="form-control" v-model="otherDataForm.link.l_zhizao_lab"></td>
                            <td><input class="form-control" v-model="otherDataForm.link.l_zhizao_link"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>实验室管理指标监控(月):</legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>实验室资源合格率<input class="form-control"
                                              v-model="otherDataForm.managementIndicators.m_lab"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>人员资源合格率<input class="form-control"
                                             v-model="otherDataForm.managementIndicators.m_personnel"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>设备完好率<input class="form-control"
                                           v-model="otherDataForm.managementIndicators.m_device"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>订单及时率<input class="form-control"
                                           v-model="otherDataForm.managementIndicators.m_order"></label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="col-md-12">
            <div class="form-group">
                <input class="btn btn-success center-block" id="submit" type="submit" value="提交">
            </div>
        </div>
    </form>
</div>
<script>
    var contextPath = '${contextPath!}';
</script>
<script src="${contextPath}/static/admin/js/jquery-2.2.4.js"></script>
<script src="${contextPath}/static/admin/js/bootstrap.js"></script>
<script src="${contextPath}/static/assets/js/vue-2.6.10.js"></script>
<script src="${contextPath}/static/admin/js/common.js"></script>
<script>
    let otherDataForm = new Vue({
        el: '#otherDataForm',
        data: {
            otherDataForm: {
                distribution: {},
                link: {},
                managementIndicators: {},
                title: {}
            }
        },
        mounted() {
            /*响应菜单点击后隐藏*/
            $(".navbar-collapse a").click(function () {
                $(".navbar-collapse").collapse("hide");
            });
            this.getOrderList()
        },
        methods: {
            getOrderList() {
                // 查询接口
                $.get(contextPath + "/admin/otherData ", data => {
                    this.otherDataForm = data;
                })
            },
            submit() {
                console.log(this.otherDataForm);
                // 更新接口
                $.post(contextPath + '/admin/updateOtherData',
                    this.otherDataForm,
                    data => {
                        if (data.result) {
                            alert('修改成功！')
                            location.href = ''
                        }
                    })
            },

        }
    })
</script>
</body>
</html>